In [27]:
# 기본
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob

# 경고 뜨지 않게 설정
import warnings
warnings.filterwarnings('ignore')

# 그래프 설정
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 결측치 시각화를 위한 라이브러리
import missingno

# 데이터 전처리 알고리즘
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

# 학습용과 검증용으로 나누는 함수
from sklearn.model_selection import train_test_split

# 교차 검증
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold

# 평가함수
# 분류용
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

# 회귀용
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# 모델의 최적의 하이퍼 파라미터를 찾기 위한 도구
from sklearn.model_selection import GridSearchCV

# 머신러닝 알고리즘 - 분류
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import VotingClassifier

# 머신러닝 알고리즘 - 회귀
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import VotingRegressor

# 학습 모델 저장을 위한 라이브러리
import pickle

from scipy.stats import f_oneway
pd.set_option('display.max_rows', 1000)

In [18]:
member_df = pd.read_csv('train_회원정보.csv')
member_df

,기준년월,ID,남녀구분코드,연령,Segment,회원여부_이용가능,회원여부_이용가능_CA,회원여부_이용가능_카드론,소지여부_신용,소지카드수_유효_신용,...,할인금액_제휴연회비_B0M,청구금액_기본연회비_B0M,청구금액_제휴연회비_B0M,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수,Life_Stage,최종카드발급경과월
0,201807,TRAIN_000000,2,40대,D,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(2),22
1,201807,TRAIN_000001,1,30대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),18
2,201807,TRAIN_000002,1,30대,C,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀출산기,20
3,201807,TRAIN_000003,2,40대,D,1,1,0,1,2,...,0,0,0,0개,0개,0개,0개,1,자녀성장(2),17
4,201807,TRAIN_000004,2,40대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,1,자녀성장(1),15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,2,70대이상,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,노년생활,39
2399996,201812,TRAIN_399996,2,50대,D,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(2),24
2399997,201812,TRAIN_399997,1,30대,C,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀출산기,18
2399998,201812,TRAIN_399998,1,40대,E,1,1,1,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),27
2399999,201812,TRAIN_399999,2,40대,E,1,1,0,1,1,...,0,0,0,0개,0개,0개,0개,0,자녀성장(1),18

In [20]:
balance_df = pd.read_csv('train_잔액정보.csv')
balance_df

,기준년월,ID,잔액_일시불_B0M,잔액_할부_B0M,잔액_현금서비스_B0M,잔액_리볼빙일시불이월_B0M,잔액_리볼빙CA이월_B0M,잔액_카드론_B0M,월중평잔_일시불_B0M,월중평잔_할부_B0M,...,평잔_6M,평잔_일시불_6M,평잔_일시불_해외_6M,평잔_RV일시불_6M,평잔_RV일시불_해외_6M,평잔_할부_6M,평잔_할부_해외_6M,평잔_CA_6M,평잔_CA_해외_6M,평잔_카드론_6M
0,201807,TRAIN_000000,998,962,22971,0,0,0,1084,547,...,15988,2440,0,0,0,572,0,17008,0,0
1,201807,TRAIN_000001,2565,2390,0,0,0,0,4090,2553,...,7045,2677,0,2830,0,2736,0,0,0,0
2,201807,TRAIN_000002,5312,5113,21531,6795,0,0,5006,8778,...,66549,9118,0,8870,0,4429,0,43351,0,0
3,201807,TRAIN_000003,730,5025,26284,0,0,0,487,5607,...,30139,884,0,0,0,5097,0,30697,0,0
4,201807,TRAIN_000004,0,0,0,0,0,0,0,0,...,28,21,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2399996,201812,TRAIN_399996,3351,0,0,0,0,27337,4412,0,...,67826,12524,0,0,0,0,0,0,0,23031
2399997,201812,TRAIN_399997,2524,2960,0,0,0,0,2694,3374,...,8627,3241,0,0,0,3995,0,0,0,0
2399998,201812,TRAIN_399998,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2399999,201812,TRAIN_399999,1148,3452,0,0,0,0,980,1839,...,5463,1053,0,0,0,4373,0,0,0,0

### 회원정보 상관계수

In [29]:
# 1. Segment를 숫자로 변환 (예: A=0, B=1, ..., E=4)
member_df['Segment_num'] = member_df['Segment'].astype('category').cat.codes

# 2. Segment_num을 제외한 수치형 컬럼 추출
numeric_cols = member_df.select_dtypes(include=['number']).columns.drop('Segment_num')

# 3. 각 수치형 변수와 Segment_num 간 상관계수 계산
correlations = member_df[numeric_cols].corrwith(member_df['Segment_num'])

# 4. 정렬 및 데이터프레임 변환
cor_df = correlations.to_frame(name='상관계수').sort_values(by='상관계수', ascending=False)

# 5. 지수 표기 없이 소수점 7자리로 출력
with pd.option_context('display.float_format', '{:.7f}'.format):
    display(cor_df)

                         상관계수
입회일자_신용             0.2522895
탈회횟수_누적             0.0687440
남녀구분코드              0.0603231
마케팅동의여부             0.0477100
카드신청건수              0.0389222
이용거절여부_카드론          0.0364000
탈회횟수_발급1년이내         0.0323531
탈회횟수_발급6개월이내        0.0155203
회원여부_이용가능_카드론       0.0136477
청구금액_기본연회비_B0M      0.0101168
기본연회비_B0M           0.0101168
최종탈회후경과월            0.0018231
기준년월               -0.0000000
이용가능카드수_체크_가족      -0.0011372
유효카드수_체크_가족        -0.0044502
제휴연회비_B0M          -0.0198860
청구금액_제휴연회비_B0M     -0.0198860
최종카드발급경과월          -0.0222614
회원여부_연체            -0.0278467
동의여부_한도증액안내        -0.0494722
소지여부_신용            -0.0567238
회원여부_이용가능          -0.0832985
회원여부_이용가능_CA       -0.0875358
수신거부여부_SMS         -0.0945102
수신거부여부_DM          -0.1046241
수신거부여부_메일          -0.1062603
수신거부여부_TM          -0.1065188
보유여부_해외겸용_본인       -0.1435928
이용가능카드수_체크         -0.1469979
유효카드수_체크           -0.1473676
보유여부_해외겸용_신용_본인    -0.1486440
이용카드수_체크           -0.1559147
이용가능여부_해외겸용_본인     -0.1591982
이용가능여부_해외겸용_신용_본인  -0.1709239
이용금액_R3M_체크        -0.2099258
이용가능카드수_신용_가족      -0.2130931
유효카드수_신용_가족        -0.2131454
이용카드수_신용_가족        -0.2147919
이용여부_3M_해외겸용_신용_본인 -0.2244387
이용여부_3M_해외겸용_본인    -0.2310556
이용금액_R3M_신용_가족     -0.2355642
입회경과개월수_신용         -0.2522402
소지카드수_이용가능_신용      -0.3230964
소지카드수_유효_신용        -0.3366334
유효카드수_신용체크         -0.3397230
유효카드수_신용           -0.3429250
이용가능카드수_신용체크       -0.3522115
이용가능카드수_신용         -0.3530142
_2순위카드이용건수         -0.3764942
이용카드수_신용           -0.3769185
_1순위카드이용건수         -0.3836092
이용카드수_신용체크         -0.3977127
_2순위카드이용금액         -0.4002250
_1순위카드이용금액         -0.5738702
이용금액_R3M_신용        -0.5890316
이용금액_R3M_신용체크      -0.6228267
이용카드수_체크_가족               NaN
이용금액_R3M_체크_가족            NaN
연회비할인카드수_B0M              NaN
할인금액_기본연회비_B0M            NaN
할인금액_제휴연회비_B0M            NaN

In [31]:
for col in ['이용카드수_체크_가족', '이용금액_R3M_체크_가족', '연회비할인카드수_B0M', '할인금액_기본연회비_B0M',
            '할인금액_제휴연회비_B0M']:
    nunique = member_df[col].nunique(dropna=True)
    missing = member_df[col].isnull().sum()
    print(f"{col} → 고유값 개수: {nunique}, 결측치 수: {missing}")

이용카드수_체크_가족 → 고유값 개수: 1, 결측치 수: 0
이용금액_R3M_체크_가족 → 고유값 개수: 1, 결측치 수: 0
연회비할인카드수_B0M → 고유값 개수: 1, 결측치 수: 0
할인금액_기본연회비_B0M → 고유값 개수: 1, 결측치 수: 0
할인금액_제휴연회비_B0M → 고유값 개수: 1, 결측치 수: 0

### 잔액정보 상관계수

In [36]:
# 필요한 컬럼만 추출해서 df2를 준비
member_df_reduced = member_df[['ID', '기준년월', 'Segment']]

# ID와 기준년월 기준으로 병합 (inner 또는 left join 가능)
balance_df_merged = pd.merge(balance_df, member_df_reduced, on=['ID', '기준년월'], how='left')

In [38]:
balance_df_merged

,기준년월,ID,잔액_일시불_B0M,잔액_할부_B0M,잔액_현금서비스_B0M,잔액_리볼빙일시불이월_B0M,잔액_리볼빙CA이월_B0M,잔액_카드론_B0M,월중평잔_일시불_B0M,월중평잔_할부_B0M,...,평잔_일시불_6M,평잔_일시불_해외_6M,평잔_RV일시불_6M,평잔_RV일시불_해외_6M,평잔_할부_6M,평잔_할부_해외_6M,평잔_CA_6M,평잔_CA_해외_6M,평잔_카드론_6M,Segment
0,201807,TRAIN_000000,998,962,22971,0,0,0,1084,547,...,2440,0,0,0,572,0,17008,0,0,D
1,201807,TRAIN_000001,2565,2390,0,0,0,0,4090,2553,...,2677,0,2830,0,2736,0,0,0,0,E
2,201807,TRAIN_000002,5312,5113,21531,6795,0,0,5006,8778,...,9118,0,8870,0,4429,0,43351,0,0,C
3,201807,TRAIN_000003,730,5025,26284,0,0,0,487,5607,...,884,0,0,0,5097,0,30697,0,0,D
4,201807,TRAIN_000004,0,0,0,0,0,0,0,0,...,21,0,0,0,0,0,0,0,0,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
2399996,201812,TRAIN_399996,3351,0,0,0,0,27337,4412,0,...,12524,0,0,0,0,0,0,0,23031,D
2399997,201812,TRAIN_399997,2524,2960,0,0,0,0,2694,3374,...,3241,0,0,0,3995,0,0,0,0,C
2399998,201812,TRAIN_399998,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
2399999,201812,TRAIN_399999,1148,3452,0,0,0,0,980,1839,...,1053,0,0,0,4373,0,0,0,0,E

In [40]:
# 1. Segment를 숫자로 변환 (예: A=0, B=1, ..., E=4)
balance_df_merged['Segment_num'] = balance_df_merged['Segment'].astype('category').cat.codes

# 2. Segment_num을 제외한 수치형 컬럼 추출
numeric_cols = balance_df_merged.select_dtypes(include=['number']).columns.drop('Segment_num')

# 3. 각 수치형 변수와 Segment_num 간 상관계수 계산
correlations = balance_df_merged[numeric_cols].corrwith(balance_df_merged['Segment_num'])

# 4. 정렬 및 데이터프레임 변환
cor_df = correlations.to_frame(name='상관계수').sort_values(by='상관계수', ascending=False)

# 5. 지수 표기 없이 소수점 7자리로 출력
with pd.option_context('display.float_format', '{:.7f}'.format):
    display(cor_df)

                        상관계수
연체일수_최근            0.0419423
연체잔액_대환론_B0M       0.0007311
매각잔액_B1M           0.0002985
기준년월              -0.0000000
연체잔액_카드론_B0M      -0.0002470
연체잔액_RV일시불_B0M    -0.0005535
잔액_리볼빙CA이월_B0M    -0.0015976
연체잔액_현금서비스_B0M    -0.0029963
연체잔액_B0M          -0.0047962
평잔_CA_해외_3M       -0.0059962
연체잔액_일시불_B0M      -0.0064210
연체잔액_할부_B0M       -0.0066453
연체잔액_CA_B0M       -0.0078519
잔액_할부_해외_B0M      -0.0082179
연체원금_최근           -0.0100270
연체원금_B1M          -0.0114367
평잔_CA_해외_6M       -0.0116926
연체원금_B2M          -0.0117165
평잔_할부_해외_3M       -0.0203953
평잔_할부_해외_6M       -0.0274574
연체일수_B1M          -0.0282549
연체일수_B2M          -0.0352393
평잔_카드론_3M         -0.0376492
평잔_카드론_6M         -0.0420589
월중평잔_카드론          -0.0421232
최종연체회차            -0.0435149
잔액_카드론_B1M        -0.0437065
잔액_카드론_B2M        -0.0452379
잔액_카드론_B0M        -0.0453844
잔액_카드론_B3M        -0.0468658
잔액_카드론_B4M        -0.0489031
잔액_카드론_B5M        -0.0513928
RV_평균잔액_R12M      -0.0616022
RV_평균잔액_R6M       -0.0638376
RV_평균잔액_R3M       -0.0666689
잔액_리볼빙일시불이월_B0M   -0.0696791
RV_최대잔액_R3M       -0.0714142
RV_최대잔액_R6M       -0.0728309
RV_최대잔액_R12M      -0.0759341
평잔_RV일시불_3M       -0.1171595
평잔_RV일시불_해외_3M    -0.1176643
월중평잔_RV일시불        -0.1202100
평잔_RV일시불_6M       -0.1204894
평잔_RV일시불_해외_6M    -0.1217086
잔액_할부_유이자_B0M     -0.1460622
잔액_할부_B2M         -0.2284110
잔액_할부_B1M         -0.2285373
월중평잔_할부           -0.2320852
평잔_할부_3M          -0.2333278
월중평잔_할부_B0M       -0.2348788
잔액_할부_무이자_B0M     -0.2497760
평잔_할부_6M          -0.2503124
월중평잔_CA_B0M       -0.2640757
잔액_할부_B0M         -0.2642918
잔액_현금서비스_B1M      -0.2647443
잔액_현금서비스_B0M      -0.2650108
잔액_현금서비스_B2M      -0.2654866
월중평잔_CA           -0.2663203
평잔_CA_3M          -0.2676521
평잔_3M             -0.2684721
평잔_CA_6M          -0.2739135
평잔_6M             -0.2814974
월중평잔              -0.2872888
평잔_일시불_해외_3M      -0.2928340
평잔_일시불_해외_6M      -0.3127556
잔액_일시불_B2M        -0.3734945
잔액_일시불_B1M        -0.3742437
잔액_일시불_B0M        -0.4173537
평잔_일시불_3M         -0.4345136
월중평잔_일시불          -0.4415268
월중평잔_일시불_B0M      -0.4446213
평잔_일시불_6M         -0.4479670
카드론잔액_최종경과월              NaN
최종연체개월수_R15M             NaN
RV잔액이월횟수_R6M             NaN
RV잔액이월횟수_R3M             NaN
연체잔액_일시불_해외_B0M          NaN
연체잔액_RV일시불_해외_B0M        NaN
연체잔액_할부_해외_B0M           NaN
연체잔액_CA_해외_B0M           NaN

In [42]:
for col in ['카드론잔액_최종경과월', '최종연체개월수_R15M', 'RV잔액이월횟수_R6M', 'RV잔액이월횟수_R3M',
            '연체잔액_일시불_해외_B0M', '연체잔액_RV일시불_해외_B0M', '연체잔액_할부_해외_B0M', '연체잔액_CA_해외_B0M']:
    nunique = balance_df_merged[col].nunique(dropna=True)
    missing = balance_df_merged[col].isnull().sum()
    print(f"{col} → 고유값 개수: {nunique}, 결측치 수: {missing}")

카드론잔액_최종경과월 → 고유값 개수: 1, 결측치 수: 0
최종연체개월수_R15M → 고유값 개수: 1, 결측치 수: 0
RV잔액이월횟수_R6M → 고유값 개수: 1, 결측치 수: 0
RV잔액이월횟수_R3M → 고유값 개수: 1, 결측치 수: 0
연체잔액_일시불_해외_B0M → 고유값 개수: 1, 결측치 수: 0
연체잔액_RV일시불_해외_B0M → 고유값 개수: 1, 결측치 수: 0
연체잔액_할부_해외_B0M → 고유값 개수: 1, 결측치 수: 0
연체잔액_CA_해외_B0M → 고유값 개수: 1, 결측치 수: 0